  <h1>This is the entries index page</h1>
  <%= link_to 'Add a new word', new_entry_path%>
<% @entries.each do |entry|%>
<ul>
<li>
<%= render 'entry', entry: entry%>
| <%= link_to 'Show More', entry_path(entry)%>
</li>
</ul>

<% end %>
