<p>This is the id of the word: <%= params[:id]%></p>
<%= render 'entry', entry: @entry%>

<%= link_to 'Edit', edit_entry_path%>
<%= link_to 'Delete', entry_path(@entry), method: :delete, data: {confirm: "Are you sure?"}%>
